<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">  <!-- able to chinese character also -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">  <!-- //version of internet-explorer -->
    <title><%= pageTitle %></title>
    <!-- serve file statically: means not handled by express router or other middleware but instead directely forwarded to file stystem -->
    <link rel="stylesheet" href="/css/main.css">